@font-face {
	font-family: "Lato-Black";
	src: url(../fonts/Lato-Black.woff2)format("woff2"),url(../fonts/Lato-Black.woff)format("woff");
	font-display: swap;
	font-weight: 900;
}
@font-face {
	font-family: "Lato-Bold";
	src: url(../fonts/Lato-Bold.woff2)format("woff2"), url(../fonts/Lato-Bold.woff)format("woff");
	font-display: swap;
	font-weight: 700;
}
@font-face {
	font-family: "Lato-Regular";
	src: url(../fonts/Lato-Regular.woff2)format("woff2"), url(../fonts/Lato-Regular.woff)format("woff");
	font-display: swap;
	font-weight: 400;
}
header {
margin-bottom: 12px;
font-family: "Lato-Bold";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
}

div {
width: 814px;
height: 1594px;
left: 345px;
top: 152px;
font-family: "Lato";
margin: 0 auto;
background-color: white;
}
h1{
font-family: "Lato-Black";
color: #1E212C;
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
display: flex;
align-items: center;
margin-bottom: 40px;
}
.photo {
border-radius: 4px;
margin-bottom: 60px;
width: 814px;
height: 360px;
}
h2 {
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #1E212C;
margin-bottom: 24px;
}
.title {
	width: 801px;
	height: 210px;
}
.desc {
	width: 814px;
	height: 182px;
	margin-bottom: 48px;
}
.desc > p {
	margin-bottom: 24px;
	top: 947px;
	left: 344px;
	color: #424551;
}
p {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
margin-bottom: 24px;
}
.text {
width: 814px;
height: 120px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
margin-bottom: 48px;
}
.text h2 {
	padding-left: 50px;
}
li {
padding-left: 25px;
line-height: 25px;
width: 568px;
height: 26px;
}
.list {
	margin-bottom: 24px;
}	





div.experiment {
	background-color: rgb(71, 110, 128);
	font-family: "Lato";
	max-width: 1100px;
}
.experiment-1 {
	background-color: rgb(71, 110, 128);
	max-width: 1100px;
	max-height: 150px;
	margin-top: 15px;
}

.explanation-for-caption{
	text-indent: 30px;
	color: rgb(14, 15, 58);
	letter-spacing: 2.5px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	outline: 2px dashed #e61c0d;
	padding: 10px;
	margin-bottom: 10px;
}

.caption {
	color: rgb(63, 40, 40);
	border: 2px solid #1E212C;
	font-style: normal;
	font-weight: 900;
	font-size: 46px;
	margin-bottom: 15px;
	text-transform: uppercase;
	text-align: center;
}
.title2 {
color: brown;
font-style: normal;
font-weight: 700;
font-size: 20px;
text-shadow: 1px 1px 5px #0e0d0d;
text-transform: capitalize;
margin-bottom: 15px;
padding-left: 20px;
}
.explanation-for-title {
	color: #e61c0d;
	text-decoration: underline;
	margin-bottom: 10px;
}
.subtitle {
	color: aliceblue;
}
.title3 {
	border-top: 3px double #db8a84;
	border-left: 3px double #e61c0d;
	border-right: 2px dotted rgb(149, 245, 149);
	border-bottom: 2px dotted rgb(15, 15, 15);
}
.one {
	background-color: chartreuse;
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 15px;
	padding: 40px;
	border-radius: 20px 0 20px 0;
}
.two {
	background-color: chartreuse;
	font-size: 20px;
	font-weight: 400;
	text-decoration: overline;
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 40px;
	box-shadow: 15px 10px 30px 10px yellow;
	margin: 15px;
}
.three {
	background-color: chartreuse;
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	width: 100px;
	height: 100px;
	text-decoration: line-through;
	margin: 15px;
	padding: 40px;
	opacity: 0.5;
}
.buttons-2 {
	border-radius: 50%;
	width: 100px;
	height: 150px;
	margin-bottom: 20px;
	background-color: #1E212C;
	overflow: hidden;
}
.buttons {
	background-color: #e61c0d;
	max-width: 500px;
	height: 250px;
	padding: 25px;
	margin: 0 auto 25px;	
}
.square {
	background-color: aqua;
	border-radius: 10px;
	display: inline-block;
	width: 100px;
	height: 100px;
	box-shadow: 5px 5px 5px 5px #b7b8bb;
	margin-left: 15px;
	margin-right: 25px;
	margin-bottom: 15px;
}
.square-2 {
	background-color: aqua;
	border-radius: 10px;
	display: inline-block;
	width: 100px;
	height: 100px;
	box-shadow: inset 5px 5px 5px 5px #39393a;
	margin-right: 25px;
}
.circle {
	background-color: rgb(15, 23, 138);
	border-radius: 50%;
	display: inline-block;
	width: 100px;
	height: 100px;
	box-shadow: inset 0px 0px 10px 5px #050505, 0px 0px 10px 5px #424551;
	margin-right: 25px;
}
.circle-2 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	box-shadow:  0px 0px 10px 5px hwb(0 9% 62% / 0.712);
}
.image-photo {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin: 0 150px 150px 150px;
	visibility: hidden;
}
.text-2 {
	color: #b7b8bb;
	font-size: 10px;
	padding: 30px;
}
.content {
	background-color: #050505;
	width:800px;
	height: 100px;
	overflow: scroll;
}
.content-1 {
	color: #b7b8bb;
}